.container {
  /* border: 2px solid black; */
  position: relative;
  width: 100%;
  height: 100vh;
}

.headerContainer {
  border-bottom: 2px solid lightgray;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: baseline;
}

.headerContainer h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-right: 1rem;
}

.headerContainer span {
  font-size: 1rem;
  color: gray;
}

.menuContainer {
  /* border: 2px solid black; */
}

.menuContainer h2 {
  color: gray;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.menuItemContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

@media screen and (max-width: 810px) {
  .menuItemContainer {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  .menuItemContainer {
    grid-template-columns: 1fr;
  }
}
